{% extends "./base.html" %}


{% load static %}

{% load mathfilters %}


{% block content %}


<main class="pt-5">

    <div class="container">

      <h1 class="h5"> Shopping cart </h1>

	    <hr>

      <!-- LP -->

      {% for item in cart %}

      {% with perfum=item.perfum %}


      <br>

      <div class="row mb-4 border product-item">

        <div class="col-md-3 col-lg-2 order-md-first bg-light">

            <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{book.image}}">

        </div>


        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">

          <a href="{% url 'book-info' book.slug %}" class="text-info text-decoration-none"> <!-- Product get absolute url -->

            <h1 class="h5 pt-2"> {{perfum.title}} </h1>

          </a>

          <div class="border">

            <div class="col border-bottom">

                <div class="row p-3">

                <div class="col-6"> Book </div>

                <div class="col-6 text-end"><span class="h6 fw-bold"> {{perfum.price|mul:item.qty}} RON </span></div>

              </div>

            </div>

            <div class="col">

              <div class="row p-3">

                <div class="col-12">

                  <label for="select">Qty</label>

                  &nbsp;

                  <select id="select{{perfum.id}}">

                    <option selected>

                        {{item.qty}}

                    </option>

                    <option value="">1</option>

                    <option value="">2</option>

                    <option value="">3</option>

                    <option value="">4</option>

                  </select>

                  <br> <br>

                  <button type="button" data-index="{{perfum.id}}"
                    class="btn btn-primary btn-sm update-button">
                    Update

                  </button>

                  &nbsp;

                  <button type="button" data-index="{{perfum.id}}"
                    class="btn btn-danger btn-sm delete-button">
                    Delete

                  </button>


                </div>

            </div>

            </div>

            </div>

        </div>

    </div>

    {% endwith %}

    {% endfor %}


      <div class="col-12 text-end">

        <div class="h6 fw-bold"> Sub total: RON <div id="total" class="d-inline-flex"> {{cart.get_total}} </div></div>

        <br>

        <a href="{% url 'checkout' %}" class="btn btn-primary my-2"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Proceed to checkout </a>

      </div>


    </div>


 </main>

 {% csrf_token %}
 <script>

     $(document).on('click', '.delete-button', function(e){

         e.preventDefault();

         $.ajax({

             type: 'POST',
             url: '{% url "cart-delete" %}',
             data: {

                 perfum_id: $(this).data('index'),
                 csrfmiddlewaretoken: "{{csrf_token}}",
                 action: 'post'

             },

             success: function(json){

                 location.reload()

                 document.getElementById("cart-qty").textContent = json.qty

                 document.getElementById("total").textContent = json.total



             },

             error: function(xhr, errmsg, err){


             }

         });


     })




 </script>




 {% csrf_token %}
 <script>

     $(document).on('click', '.update-button', function(e){

         e.preventDefault();

         var thebookid = $(this).data('index');

         $.ajax({

             type: 'POST',
             url: '{% url "cart-update" %}',
             data: {

                 perfum_id: $(this).data('index'),
                 perfum_quantity: $('#select'+ thebookid + 'option:selected').text(),
                 csrfmiddlewaretoken: "{{csrf_token}}",
                 action: 'post'

             },

             success: function(json){

                 location.reload(true)

                 document.getElementById("cart-qty").textContent = json.qty

                 document.getElementById("total").textContent = json.total



             },

             error: function(xhr, errmsg, err){


             }

         });


     })




 </script>



{% endblock %}


